extends ../layout

block layout-content
  div.View.RiderView

    div.Banner
      h1 Howdy Rider! 
      h1 I need to know more...

    div.form-signin
      form(action='/createRider' method="POST")
        input(type="username" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus)  
        <br>
        input(type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required autofocus)  
        <br>
        label(for='partTime') Part Time or Full Time?
        select(name="partTime", id="partTime")
            each val in ['Full Time', 'Part Time']
                option=val
        <br>
        div.NavButton
          input(type='submit', value="Submit")
    <br>

    div.NavButtons
      a(href="/")
        div.NavButton Back