extends layout

block layout-content
  div.View.UserView
    h1.Banner Howdy, #{userProfile.nickname}!
    div.CenteredMessage
      h2(text-align:center) Add your new menu item here
      div.form-add-menu
        input(class="form-menu-item" type="text" placeholder="Food Name" required autofocus)
        input(class="form-menu-item" type="number" placeholder="Price" min="1" step="any" required autofocus)
        input(class="form-menu-item" type="number" placeholder="Availability" min="1" required autofocus)
        input(class="form-menu-item" type="number" placeholder="Limit" required autofocus)
        input(class="form-menu-item" type="text" placeholder="Category" required autofocus)
        <br>
        input(class="form-menu-item" type="submit" value="Submit")
    div.NavButtons
      a(href="/restaurant-dashboard")
        div.NavButton Back
