extends layout

block layout-content
  div.View.RestaurantView
    h1.Banner Here lies your data
    //- include utils is crucial to do call the mixin
    include utils
    +create_table(title, data_list, headers)
