extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner foodSloth
    div.Message
      div.Title
        h3 Your food will always arrive!....
        h1 Eventually.....
      span.Details Sign up for the Sloth life now!
    div.Message
      div.Title
        h1 Sign up here to be a sloth,
        h3 a rider, or a restaurant
        a(href="/signup")
          div.NavButton Register here
    div.NavButtons
      a(href="/login")
          div.NavButton Sloths Login here!
    div.NavButtons
      a(href="/rider")
          div.NavButton Deliver Now
      a(href="/restaurant")
          div.NavButton Restaurants
      a(href="/manager")
          div.NavButton Manager
