extends layout

block layout-content
  div.View.ManagerView
    h1.Banner Manager
    div.Message
      div.Title
        h3 Click to view summary of your store
    div.NavButtons
      a(href="/logout")
        div.NavButton Log out
