extends layout

block layout-content
  div.View.ManagerView
    h1.Banner Manager
    div.Message
      div.Title
        h3 Sign in to view summary of your store
    div.form-signin
      input(type="email" name="username" id="inputEmail" class="form-control" placeholder="Manager ID" required autofocus)
    div.NavButtons
      a(href="/")
        div.NavButton Back
