extends layout

block layout-content
  div.View.UserView
    h1.Banner Welcome, #{userProfile.nickname}!
    div.Message
      div.Title
        h3 Please log in with your restaurant ID
        h1 Manage your menu
      pre.Details=JSON.stringify(userProfile, null, 2)
    div.NavButtons
      a(href="/logout")
        div.NavButton Log out
