extends layout

block layout-content
  div.View.RestaurantView
    h1.Banner Welcome!
    div.Message
      div.Title
        h3 Please log in with your restaurant ID
        h1 Manage your menu
    div.form-signin
      input(type="email" name="username" id="inputEmail" class="form-control" placeholder="Restaurant ID" required autofocus)
    div.NavButtons
      a(href="/")
        div.NavButton Back
