extends layout

block layout-content
  div.View.RiderView
    h1.Banner Welcome!
    div.Message
      div.Title
        h3 Please log in with your rider ID
        h1 Manage your work schedule
    div.form-signin
      input(type="email" name="username" id="inputEmail" class="form-control" placeholder="Rider ID" required autofocus)
    div.NavButtons
      a(href="/signin")
        div.NavButton Sign in
      a(href="/")
        div.NavButton Back
