extends layout

block layout-content
  div.View.WelcomeView
    div.Banner
      h1 Tell us who you are!
    div.form-signin

      h3 Sign up as:
      br
      a(href="/signup/customer")
        div.NavButton Customer
      br
      a(href="/signup/rider")
        div.NavButton Rider
      br
      a(href="/signup/restaurant")
        div.NavButton Restaurant
      br
      a(href="/signup/manager")
        div.NavButton Manager
      br

    br

    div.NavButtons
      a(href="/")
        div.NavButton Back