extends layout

block layout-content
  div.View.WelcomeView
    div.Banner
      h1 Tell us who you are!
    div.form-signin
      h3 Please enter 
      input(type="email" name="username" id="inputUserID" class="form-control" placeholder="User ID" required autofocus)
      <br>
      input(type="email" name="password" id="inputPassword" class="form-control" placeholder="Password" required autofocus)  
      <br>
      <br>
      h3 Sign in as:
      a(href="/createCus")
        div.NavButton Customer
      <br>
      a(href="/createRider")
        div.NavButton Rider
      <br>
      a(href="/createRestaurant")
        div.NavButton Restaurant
      <br>
      a(href="/createManager")
        div.NavButton Manager
    <br>
    div.NavButtons
      a(href="/")
        div.NavButton Back