extends layout

block layout-content
  div.View.WelcomeView
    div.Banner
      h1 Tell us who you are!
    div.form-signin

      h3 Sign up as:
      <br>
      a(href="/signUpCustomer")
        div.NavButton Customer
      <br>
      a(href="/signUpRider")
        div.NavButton Rider
      <br>
      a(href="/signUpRestaurant")
        div.NavButton Restaurant

    <br>

    div.NavButtons
      a(href="/")
        div.NavButton Back