extends layout

block layout-content
  div.View.WelcomeView
    div.Banner
      h1 Tell us who you are!
    div.form-signin
      h3 Please enter 
      input(type="email" name="username" id="inputUserID" class="form-control" placeholder="User ID" required autofocus)
      <br>
      input(type="email" name="password" id="inputPassword" class="form-control" placeholder="Password" required autofocus)  
      style.
         input[type=text], select {
         width: 50%;
         padding: 12px 20px;
         margin: 8px 0;
         display: inline-block;
         border: 1px solid #ccc;
         border-radius: 4px;
         box-sizing: border-box;
         font-size: 16px;
         font: "Merriweather Sans", sans-serif;
          }
      form(action='/Type' method="post")
          select(name='dropDown', id='')
                  option='Customer'
                  option= 'Rider'
                  option= 'Restaurant'
                  option= 'Manager'
    div.NavButtons
      a(href="/create")
        div.NavButton Create
      a(href="/")
        div.NavButton Back