//- function to create table for displaying data,
//- note: when assign var must use var= val in mixins
mixin create_table(jsonlist, headers)
  table
    tr
      each header in headers
          th= header
    each row in jsonlist
      tr
        each val, key in row
          td= val
