extends ../layout

block layout-content
  div.View.UserView
    h1.Banner Hungry?
    div.Message
      div.Title
        h1 Select your restaurant!
    div.NavButtons  
      a(href="/signinUser")
        div.NavButton Back
