extends ../layout

block layout-content
  div.View.RestaurantView

    div.Banner
      h1 Howdy Restaurant Owner! 
      h1 I need to know more about this item...

    div.form-createmenu
      form(action='/createMenu' method="POST")
        input(type="plaintext" name="name" id="inputName" class="form-control" placeholder="Food Name" required autofocus)  
        <br>
        input(type="number" name="price" id="inputPrice" class="form-control" placeholder="Price" required autofocus)  
        <br>
        input(type="number" name="avail" id="inputMaxAvail" class="form-control" placeholder="Availability" required autofocus)  
        <br>
        input(type="plaintext" name="category" id="inputCategory" class="form-control" placeholder="Cuisine" required autofocus)
        <br>
        <br>
        div.NavButton
          input(type='submit', value="Submit")
    <br>

    div.NavButtons
      a(href="/restaurant/home")
        div.NavButton Back