extends ../layout

block layout-content
  div.View.RestaurantView
    h1.Banner Restaurant Menu
    div.Message
      div.Title
        h1 Select menu item to edit!
        <br>
        <br>
        
        div.dropdown
            form(action='/editItem' method="POST")
                label(for='Item Name to edit') Item to Edit:
                select(name='dropDown', id='')
                    each item in Menu
                        option=item
                    input(type="plaintext" name="name" id="inputName" class="form-control" placeholder="new Food Name" required autofocus)  
                    <br>
                    input(type="number" name="price" id="inputPrice" class="form-control" placeholder="new Price" required autofocus)  
                    <br>
                    input(type="number" name="avail" id="inputMaxAvail" class="form-control" placeholder="new Availability" required autofocus)  
                    <br>
                    input(type="plaintext" name="category" id="inputCategory" class="form-control" placeholder="new Cuisine" required autofocus)
                    <br>
                    <br>
                    input(type='submit', value='Edit Item!')
    div.NavButtons  
      a(href="/restaurant/home")
        div.NavButton Back


      
