extends ../layout

block layout-content

  div.View.UserView

    div.Banner
      h1 Howdy Customer! 
      h1 Tell us more about this order...

    script.
        var oid = !{oid};
        
    div.form-signin
      form(action='/createReview/' method="POST")
      
        input(type="number" name="orderid" id="inputReview" class="form-control" placeholder= '#{oid}' value='#{oid}' required autofocus)  
        <br>
        input(type="number" name="rating" id="inputReview" class="form-control" placeholder="out of five stars" required autofocus)  
        <br>
        input(type="text" name="review" id="inputReview" class="form-control" placeholder="Review" required autofocus)  
        <br>
        <br>
        div.NavButton
          input(type='submit', value="Submit")
    <br>

    div.NavButtons
      a(href="/customer/pastOrders")
        div.NavButton Back