extends ../layout

block layout-content
  div.View.UserView
    h1.Banner Satisfy your craving!
    div.Message
      div.Title
        h1 Confirm your order
        h2 with #{Restaurant}
        <br>
        <br>
        div.dropDown
          form(action='/editOrder' method="POST")
              label(for='order') Your order
              select(name='edits', id='')
                  each rec in orderItems
                    option=rec.item+' ($'+rec.price+') ['+rec.quantity+']'
                  input(type='submit', value='Delete')
    div.NavButtons  
      a(href="customer/selectAddress")
        div.NavButton Confirm
