extends ../layout

block layout-content
  div.View.RestaurantView
    h1.Banner Howdy!
    div.Message
      div.Title
        h2 Your details
        table
            tr
              th= 'Reward Points'
              th= 'Credit Card Number'
            tr
              td= rewardPoints
              td= creditcardnumber

    <br>
    div.Message
      div.Title
        h2 Edit profile?
        <br>
        a(href="/customer/updateCreditcardnumber")
          div.NavButton Update Credit Card Number

    div.NavButtons  
      a(href="/customer/home")
        div.NavButton Back