extends ../layout

block layout-content
  div.View.RiderView
    div.Banner
      h1 Howdy Rider! 
      h1 I need to know more...
    div.NavButtons
      a(href="/")
        div.NavButton Part Time
      a(href="/")
        div.NavButton Full Time
    div.NavButtons  
      a(href="/")
        div.NavButton Back